body {
    background-color: mintcream;
}
* {box-sizing:border-box}

/* Slideshow container */
.container {
    max-width: 1000px;
    margin: auto;
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;

}

.active, .dot:hover {
    background-color:yellow;
}

